<a href="https://colab.research.google.com/github/franckalain/Python-Basics/blob/master/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Class Definition

In [0]:
class MyFirstClass:
  pass

### Creating an instance (object) of a class

In [0]:
a = MyFirstClass()

In [4]:
print(a)

<__main__.MyFirstClass object at 0x7f369c86f978>

In [0]:
b = MyFirstClass()

In [6]:
b

### Adding attributes
object.attribute = value

In [13]:
class Point():
  pass

p1 = Point()
p2 = Point()

p1.x = 'hello'
p1.y = 3

p2.x = 10
p2.y = 12

print(p1.x, p1.y)
print(p2.x, p2.y)

hello 3
10 12