<a href="https://colab.research.google.com/github/franckalain/Python-Basics/blob/master/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Classes and Instances

In [7]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + last + '.' + '@company.com'
    
  def fullname(self):
    return '{} {}'.format(self.first, self.last)
  
  
emp_1 = Employee('Franck', 'Alain', 70000)
emp_2 = Employee('Ange', 'konan', 50000)

print(emp_1.fullname())

Franck Alain

In [0]:
# print(Employee.fullname(emp_1))

### Class Variables

In [9]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + last + '.' + '@company.com'
    
  def fullname(self):
    return '{} {}'.format(self.first, self.last)
  
  def apply_raise(self):
    self.pay = int(self.pay * 1.04)
  
emp_1 = Employee('Franck', 'Alain', 70000)
emp_2 = Employee('Ange', 'konan', 50000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

70000
72800

In [10]:
class Employee:
  
  raise_amount = 1.04
  
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + last + '.' + '@company.com'
    
  def fullname(self):
    return '{} {}'.format(self.first, self.last)
  
  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amount)
  
emp_1 = Employee('Franck', 'Alain', 70000)
emp_2 = Employee('Ange', 'konan', 50000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

70000
72800

In [12]:
Employee.raise_amount

1.04

In [13]:
emp_1.raise_amount

1.04

In [14]:
emp_2.raise_amount

1.04