<a href="https://colab.research.google.com/github/franckalain/Python-Basics/blob/master/lambda_map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def add(*args):
  return sum(args)
add(2, 3, 4, 5)

14

In [8]:
def record(**kwargs):
  print(kwargs)
record(name = "test", rollno=56, age= 20)

{'name': 'test', 'rollno': 56, 'age': 20}

In [10]:
def get_data(engine, *queries, **properties):
  print(engine, queries, properties)
  
get_data('google', 'python', 'flask', 'django', limit=10, verbose = True)

google ('python', 'flask', 'django') {'limit': 10, 'verbose': True}

In [11]:
lambda x, y:x+y

add(2, 3)

5

# Lambda Function

In [24]:
def mx(x, y):
  if x > y:
    return x
  else:
    return y
mx(9, 10)

10

In [14]:
mx = lambda x, y:x if x >y else y

print(mx(8, 4))

8

# Map Function

In [29]:
def square(lst1):
  lst2 = []
  for num in lst1:
    lst2.append(num**2)
  return lst2
print(square([4, 3, 2, 1]))

[16, 9, 4, 1]

In [22]:
n = [4, 3, 2, 1]
print(list(map(lambda x: x**2, n)))

[16, 9, 4, 1]

In [33]:
#List comprehension 
print([x**2 for x in n])

[16, 9, 4, 1]

# Filter

In [34]:
def over_two(lst1):
  lst2 = [x for x in lst1 if x > 2]
  return lst2
print(over_two([4, 3, 2, 1]))

[4, 3]

In [35]:
n = [4, 3, 2, 1]
print(list(filter(lambda x:x > 2, n)))

[4, 3]

# Reduce

In [37]:
def mult(lst1):
  prod = lst1[0]
  for i in range(1, len(lst1)):
    prod*=lst1[i]
  return prod
print(mult([4, 3, 2, 1]))

24

In [39]:
from functools import reduce
n = [4, 3, 2, 1]
print(reduce(lambda x, y: x*y, n))

24